
@{ ViewBag.Title = "Attributes"; }

<h2>@ViewBag.Title</h2>

@if (ViewBag.Attributes != null)
{
    foreach (var attribute in ViewBag.Attributes)
    {
<div class="panel panel-default">
    <div class="panel-body">

        @Html.Label("Name", "Name:")
        <br />
        <p>@attribute.Name</p>


        @using (Html.BeginForm(actionName: "Details", controllerName: "Attribute", method: FormMethod.Get,
        routeValues: new { id = attribute.AttributeId }))
        {
<button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Summary</button>}
    </div>
</div>}
            }


<br />
@Html.ActionLink("Add attribute", "New")